@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin !important;
  scrollbar-color: transparent !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.swal2-container .swal2-popup {
  font-size: .75rem;
  width: 20rem;
  max-width: 20rem;
}

@media (min-width: 480px) {
  .swal2-container .swal2-popup {
    font-size: 1rem;
    width: 24rem;
    max-width: 24rem;
  }
}

.swal2-container .swal2-timer-progress-bar {
  background: #FF407D;
}

@layer utilities {
  .flow-col-row {
    flex-flow: column;
    flex-direction: row;
  }

  .transform-center {
    transform: translate(-50%, -50%);
  }

  .centered-content {
    @apply flex flex-col items-center justify-center w-full absolute top-1/2 left-1/2 transform-center;
  }

  .container-parallax-stars {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    @apply relative w-full min-h-screen overflow-hidden;
  }

  img.wallpaper {
    content: url('/src/assets/gif/starGalaxy.gif');
    @apply bg-cover w-full h-screen transition-all duration-[1s];
  }

  .opening-image {
    @apply w-64 h-64 cursor-pointer transition-all duration-[0.5s];
  }

  .opening-image:hover {
    @apply scale-90 transition-all duration-[0.5s];
  }

  .text-gradient {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .stickers {
    @apply flex justify-center items-center w-[150px] h-[150px];
  }

  .stickers img {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply w-[120px] h-[120px] p-[10px] my-[20px] mx-0 rounded-[50%] hidden;
  }

  .opening-text {
    @apply font-poppins text-3xl mt-2 text-white inline-flex;
  }

  .head-greeting {
    @apply align-middle text-white text-xl mb-4;
  }

  blockquote {
    background: rgba(0, 0, 0, .3);
    border-radius: 18px 0 18px 0;
    border-style: double;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 7px 30px 0px;
    text-shadow: 0px 2px 2px rgba(4, 3, 3, 0.8);
    @apply relative w-[300px] sm:w-[400px] text-center leading-[1.3em] p-8 text-white;
  }

  blockquote::before {
    @apply absolute min-w-[15px] text-[16px] top-[8px] left-[8px] opacity-[.8] text-center content-[attr(data-text)];
  }

  .first-quote>span {
    @apply text-lg font-semibold;
  }

  .second-quote svg {
    @apply w-8 h-8 text-white;
  }

  .second-quote .btn-heart {
    @apply rounded-full shadow-lg opacity-100 w-12 h-12 max-w-12 max-h-12 transition-all duration-[1500ms];
  }

  .second-quote .btn-heart.hidden {
    @apply opacity-0 h-0 block transition-all duration-[1500ms];
  }

  .third-quote>div:first-child,
  .fourth-quote>div:first-child {
    @apply flex justify-center items-center flex-col;
  }

  .third-quote .btn-next.show,
  .fourth-quote .btn-reply.show {
    @apply opacity-100 transition-all duration-[1500ms];
  }

  .third-quote .btn-next.hidden,
  .fourth-quote .btn-reply.hidden {
    @apply opacity-0 h-0 block transition-all duration-[1500ms];
  }
}